/*-- scss:defaults --*/

// Colors
$fega-darkblue: #155177;
$fega-blue: #5E9CC3;
$fega-orange: #EB9661;
$fega-yellow: #F6C75E;

$link-color: $fega-darkblue;
$primary:   $fega-darkblue;
$callout-color-important: $fega-orange;


/*-- scss:rules --*/

.nav-footer {border-top:0px !important}
header {border-bottom:1px solid #dee2e6}
footer.footer {border-top:1px solid #dee2e6}
